@using Soenneker.Quark.Enums.Scales
@inherits Soenneker.Quark.Element

@if (Scale == Scale.S1)
{
    <h1 @attributes="BuildAttributes()" >@ChildContent</h1>
}
else if (Scale == Scale.S2)
{
    <h2 @attributes="BuildAttributes()" >@ChildContent</h2>
}
else if (Scale == Scale.S3)
{
    <h3 @attributes="BuildAttributes()" >@ChildContent</h3>
}
else if (Scale == Scale.S4)
{
    <h4 @attributes="BuildAttributes()" >@ChildContent</h4>
}
else if (Scale == Scale.S5)
{
    <h5 @attributes="BuildAttributes()" >@ChildContent</h5>
}
else if (Scale == Scale.S6)
{
    <h6 @attributes="BuildAttributes()" >@ChildContent</h6>
}
else
{
    <h3 @attributes="BuildAttributes()" >@ChildContent</h3>
}

@code {

    /// <summary>
    /// Gets or sets the heading size.
    /// </summary>
    [Parameter]
    public Scale Scale { get; set; } = Scale.S3;

    public override string? Name { get; set; } = "Heading";

}
